<div>
    <form action="/Anime/Upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="sampulAnim">
        <button class="btn btn-info"> upload foto</button>
    </form>
</div>