<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= Anim.title %> </li>
      <li class="list-group-item"><%= Anim.realese %></li>
      <li class="list-group-item"><%= Anim.mangaka %> </li>
      <li class="list-group-item">test sinopsis</li>
    </ul>
    <div class="card-footer">
      <a href="/Anime/Delete/<%= Anim.title %> " class="btn btn-danger">delete</a>
    </div>
  </div>